In [19]:
import antimatter as am
import utils
import pandas as pd

amr = utils.create_or_load_domain()

amr.add_write_context(
    "data_science", am.WriteContextBuilder().
    set_summary("Data prepared for our DS team").
    # tag data based on the column names, for structured data
    add_hook("data-structure-classifier", ">1.0.0", am.WriteContextHookMode.Sync)
)

amr.add_read_context(
    "fraud_team", am.ReadContextBuilder().
    set_summary("Data access for fraud team").
    add_required_hook("data-structure-classifier", ">1.0.0")
)
amr.add_read_context(
    "ai_team", am.ReadContextBuilder().
    set_summary("Data access for AI team").
    add_required_hook("data-structure-classifier", ">1.0.0")
)
# clear out the rules from previous runs of this notebook
amr.delete_read_context_rules("fraud_team")
amr.delete_read_context_rules("ai_team")

# Redact names columns when the AI team reads data
amr.add_read_context_rules("ai_team", rule_builder=
    am.ReadContextRuleBuilder().add_match_expression(
        source=am.Source.Tags,
        key="tag.antimatter.io/key",
        operator=am.Operator.In,
        values=["first_name","last_name"]
    ).set_action(am.Action.Redact)
);

In [20]:
# Encapsulate our data
# we are doing a little extra, taking the tenant_id column and putting it into a tenant tag, so we can define governance policies 
# around the owner of the data
df = pd.read_parquet("mt-testdata.parquet")
df

,tenant_id,id,first_name,last_name,email,gender,ip_address,cc,country,birthdate,salary,title,comments
0,customer1,1,Amanda,Jordan,ajordan0@com.com,Female,1.197.201.2,6759521864920116,Indonesia,3/8/1971,49756.53,Internal Auditor,"Hello friends, my name is Alice Johnson and I ..."
1,customer4,2,Albert,Freeman,afreeman1@is.gd,Male,218.111.175.34,,Canada,1/16/1968,150280.17,Accountant IV,Customer feedback: I recently visited your sto...
2,customer3,3,Evelyn,Morgan,emorgan2@altervista.org,Female,7.161.136.94,6767119071901597,Russia,2/1/1960,144972.51,Structural Engineer,"Booking Confirmation: Thank you, David Smith (..."
3,customer1,4,Denise,Riley,driley3@gmpg.org,Female,140.35.109.83,3576031598965625,China,4/8/1997,90263.05,Senior Cost Accountant,"Hi, I am Emily Brown, aged 33, and I recently ..."
4,customer2,5,Carlos,Burns,cburns4@miitbeian.gov.cn,,169.113.235.40,5602256255204850,South Africa,,nan,,"Urgent: My name is Sarah Lee, my SSN is 512-34..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,customer2,196,Lillian,Perry,lperry5f@bigcartel.com,Female,35.71.128.205,,Portugal,,195580.83,,"Hello, I'm Elizabeth Anderson, age 29, and my ..."
196,customer2,197,Wanda,Allen,wallen5g@globo.com,Female,70.97.102.253,,Japan,,66158.0,,"Hi, I'm Paul Rivera, 45 years old, and I resid..."
197,customer2,198,Pamela,Tucker,ptucker5h@dedecms.com,Female,179.49.192.205,,Iran,10/23/1998,76690.52,Accountant III,"Hey there, I am Brian Powell, 35, living at 67..."
198,customer4,199,Aaron,Torres,atorres5i@w3.org,Male,37.19.3.217,677135008088348640,Canada,4/18/1980,85100.7,Sales Associate,"Hello, I am Angela Hall, 52 years old, staying..."
199,customer3,200,Russell,Ward,rward5j@surveymonkey.com,Male,73.156.128.8,,Sweden,,173849.81,,"Hi, I'm Jennifer Wilson, 28, and I live at 123..."

In [21]:

# Make a list of tags containing the tenant ID
customer_tags = [
    am.SpanTag(name="tenant", cell_path=am.cell_path("tenant_id", idx), tag_value=tenant, tag_type=am.cap_prep.tag.TagType.String,
               start=0, end=len(tenant)) 
    for (idx, tenant) in enumerate(df['tenant_id'])
]
# Encapsulate our data, passing in our custom customer tags
amr.encapsulate(path="testdata.cap", data_file_path="mt-testdata.parquet", span_tags=customer_tags,
                write_context="data_science")

In [22]:
# show what it's like for the fraud team to see the data
amr.load_capsule("testdata.cap", read_context="fraud_team").data()

,tenant_id,id,first_name,last_name,email,gender,ip_address,cc,country,birthdate,salary,title,comments
0,customer1,1,Amanda,Jordan,ajordan0@com.com,Female,1.197.201.2,6759521864920116,Indonesia,3/8/1971,49756.53,Internal Auditor,"Hello friends, my name is Alice Johnson and I ..."
1,customer4,2,Albert,Freeman,afreeman1@is.gd,Male,218.111.175.34,,Canada,1/16/1968,150280.17,Accountant IV,Customer feedback: I recently visited your sto...
2,customer3,3,Evelyn,Morgan,emorgan2@altervista.org,Female,7.161.136.94,6767119071901597,Russia,2/1/1960,144972.51,Structural Engineer,"Booking Confirmation: Thank you, David Smith (..."
3,customer1,4,Denise,Riley,driley3@gmpg.org,Female,140.35.109.83,3576031598965625,China,4/8/1997,90263.05,Senior Cost Accountant,"Hi, I am Emily Brown, aged 33, and I recently ..."
4,customer2,5,Carlos,Burns,cburns4@miitbeian.gov.cn,,169.113.235.40,5602256255204850,South Africa,,nan,,"Urgent: My name is Sarah Lee, my SSN is 512-34..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,customer2,196,Lillian,Perry,lperry5f@bigcartel.com,Female,35.71.128.205,,Portugal,,195580.83,,"Hello, I'm Elizabeth Anderson, age 29, and my ..."
196,customer2,197,Wanda,Allen,wallen5g@globo.com,Female,70.97.102.253,,Japan,,66158.0,,"Hi, I'm Paul Rivera, 45 years old, and I resid..."
197,customer2,198,Pamela,Tucker,ptucker5h@dedecms.com,Female,179.49.192.205,,Iran,10/23/1998,76690.52,Accountant III,"Hey there, I am Brian Powell, 35, living at 67..."
198,customer4,199,Aaron,Torres,atorres5i@w3.org,Male,37.19.3.217,677135008088348640,Canada,4/18/1980,85100.7,Sales Associate,"Hello, I am Angela Hall, 52 years old, staying..."
199,customer3,200,Russell,Ward,rward5j@surveymonkey.com,Male,73.156.128.8,,Sweden,,173849.81,,"Hi, I'm Jennifer Wilson, 28, and I live at 123..."

In [23]:
# and for the AI team to see the data
amr.load_capsule("testdata.cap", read_context="ai_team").data()

,tenant_id,id,first_name,last_name,email,gender,ip_address,cc,country,birthdate,salary,title,comments
0,customer1,1,{redacted},{redacted},ajordan0@com.com,Female,1.197.201.2,6759521864920116,Indonesia,3/8/1971,49756.53,Internal Auditor,"Hello friends, my name is Alice Johnson and I ..."
1,customer4,2,{redacted},{redacted},afreeman1@is.gd,Male,218.111.175.34,,Canada,1/16/1968,150280.17,Accountant IV,Customer feedback: I recently visited your sto...
2,customer3,3,{redacted},{redacted},emorgan2@altervista.org,Female,7.161.136.94,6767119071901597,Russia,2/1/1960,144972.51,Structural Engineer,"Booking Confirmation: Thank you, David Smith (..."
3,customer1,4,{redacted},{redacted},driley3@gmpg.org,Female,140.35.109.83,3576031598965625,China,4/8/1997,90263.05,Senior Cost Accountant,"Hi, I am Emily Brown, aged 33, and I recently ..."
4,customer2,5,{redacted},{redacted},cburns4@miitbeian.gov.cn,,169.113.235.40,5602256255204850,South Africa,,nan,,"Urgent: My name is Sarah Lee, my SSN is 512-34..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,customer2,196,{redacted},{redacted},lperry5f@bigcartel.com,Female,35.71.128.205,,Portugal,,195580.83,,"Hello, I'm Elizabeth Anderson, age 29, and my ..."
196,customer2,197,{redacted},{redacted},wallen5g@globo.com,Female,70.97.102.253,,Japan,,66158.0,,"Hi, I'm Paul Rivera, 45 years old, and I resid..."
197,customer2,198,{redacted},{redacted},ptucker5h@dedecms.com,Female,179.49.192.205,,Iran,10/23/1998,76690.52,Accountant III,"Hey there, I am Brian Powell, 35, living at 67..."
198,customer4,199,{redacted},{redacted},atorres5i@w3.org,Male,37.19.3.217,677135008088348640,Canada,4/18/1980,85100.7,Sales Associate,"Hello, I am Angela Hall, 52 years old, staying..."
199,customer3,200,{redacted},{redacted},rward5j@surveymonkey.com,Male,73.156.128.8,,Sweden,,173849.81,,"Hi, I'm Jennifer Wilson, 28, and I live at 123..."

## Customer opt-in

But now, let's say that the AI team can only read data if that customer has opted in to that data being used for AI:

In [24]:
# create a fact to store customer opt-in
amr.add_fact_type("customer_ai_opt_in", 
                  description="Stores customer opt-in for AI features",
                  arguments={
                      "customer": "the ID of the customer"
                  })

# lets say customer 1 and 3 have opted in
amr.add_fact("customer_ai_opt_in", "customer1")
amr.add_fact("customer_ai_opt_in", "customer3")

# Now let's also define a rule for the AI team read context that says to omit 
# data from customers that have not opted in
amr.add_read_context_rules("ai_team", rule_builder=
    am.ReadContextRuleBuilder().
       add_fact(am.Operator.NotExists, "customer_ai_opt_in",
                am.ReadContextRuleFactArgumentBuilder().
                add_argument(source=am.Source.Tags, key="tenant")
                ).
        set_action(am.Action.DenyRecord)
);

In [25]:
# Let's try read the data again:
amr.load_capsule("testdata.cap", read_context="ai_team").data()

,tenant_id,id,first_name,last_name,email,gender,ip_address,cc,country,birthdate,salary,title,comments
0,customer1,1,{redacted},{redacted},ajordan0@com.com,Female,1.197.201.2,6759521864920116,Indonesia,3/8/1971,49756.53,Internal Auditor,"Hello friends, my name is Alice Johnson and I ..."
1,customer3,3,{redacted},{redacted},emorgan2@altervista.org,Female,7.161.136.94,6767119071901597,Russia,2/1/1960,144972.51,Structural Engineer,"Booking Confirmation: Thank you, David Smith (..."
2,customer1,4,{redacted},{redacted},driley3@gmpg.org,Female,140.35.109.83,3576031598965625,China,4/8/1997,90263.05,Senior Cost Accountant,"Hi, I am Emily Brown, aged 33, and I recently ..."
3,customer3,6,{redacted},{redacted},kwhite5@google.com,Female,195.131.81.179,3583136326049310,Indonesia,2/25/1983,69227.11,Account Executive,"Hello, I'm Mark Thompson. I’m 36 years old, re..."
4,customer1,7,{redacted},{redacted},sholmes6@foxnews.com,Male,232.234.81.197,3582641366974690,Portugal,12/18/1987,14247.62,Senior Financial Analyst,"Hi, my name is Michael Martinez, I am 40 years..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,customer3,190,{redacted},{redacted},rbishop59@deviantart.com,Male,108.100.129.98,,Russia,5/3/1958,75942.64,Desktop Support Technician,"Greetings! I am Daniel Carter, 38, and I live ..."
112,customer1,191,{redacted},{redacted},jwebb5a@dyndns.org,Female,169.75.241.122,3530639501736548,China,3/29/1979,127088.79,Speech Pathologist,"Hi, I am Laura Cook, 29 years old, and I live ..."
113,customer3,193,{redacted},{redacted},janderson5c@cbslocal.com,Female,157.218.30.218,4017951658384,Russia,12/12/1983,51701.32,Help Desk Operator,"Hello, I am Jessica Allen, age 33, staying at ..."
114,customer1,194,{redacted},{redacted},rgrant5d@skype.com,Male,206.151.211.209,5285674648398904,China,3/2/1990,70398.55,Senior Cost Accountant,"Hi, I'm Andrew Perez, 41 years old, residing a..."
115,customer3,200,{redacted},{redacted},rward5j@surveymonkey.com,Male,73.156.128.8,,Sweden,,173849.81,,"Hi, I'm Jennifer Wilson, 28, and I live at 123..."

In [26]:
# Now let's say customer 3 opts out:
amr.delete_fact(fact_type="customer_ai_opt_in", arguments=["customer3"])

In [27]:
# Let's try read the data again:
amr.load_capsule("testdata.cap", read_context="ai_team").data()

,tenant_id,id,first_name,last_name,email,gender,ip_address,cc,country,birthdate,salary,title,comments
0,customer1,1,{redacted},{redacted},ajordan0@com.com,Female,1.197.201.2,6759521864920116,Indonesia,3/8/1971,49756.53,Internal Auditor,"Hello friends, my name is Alice Johnson and I ..."
1,customer1,4,{redacted},{redacted},driley3@gmpg.org,Female,140.35.109.83,3576031598965625,China,4/8/1997,90263.05,Senior Cost Accountant,"Hi, I am Emily Brown, aged 33, and I recently ..."
2,customer1,7,{redacted},{redacted},sholmes6@foxnews.com,Male,232.234.81.197,3582641366974690,Portugal,12/18/1987,14247.62,Senior Financial Analyst,"Hi, my name is Michael Martinez, I am 40 years..."
3,customer1,9,{redacted},{redacted},jfoster8@yelp.com,Male,132.31.53.61,,South Korea,3/27/1992,231067.84,Software Test Engineer I,"Hey, it’s Lisa Davis, I am 28 years old. I not..."
4,customer1,12,{redacted},{redacted},aberryb@wikipedia.org,Female,246.225.12.189,4917830851454417,China,8/12/1968,22944.53,Quality Engineer,"Hi, I am Steven Lewis, aged 41, and I recently..."
5,customer1,17,{redacted},{redacted},eandrewsg@cornell.edu,Female,29.231.180.172,30271790537626,Russia,4/13/1990,116800.65,Food Chemist,"My name is Mary Lee, SSN 321-54-6789. I forgot..."
6,customer1,21,{redacted},{redacted},dstevensk@cnet.com,Female,141.243.73.164,,Russia,6/5/1985,87978.22,Food Chemist,"Hi, I'm Laura Walker, aged 33. I'm looking for..."
7,customer1,28,{redacted},{redacted},shunterr@instagram.com,Male,72.190.230.173,5002353797389897,Brazil,9/21/1968,108950.24,Environmental Tech,"Greetings, I'm Amanda Evans, aged 51. I reside..."
8,customer1,30,{redacted},{redacted},atorrest@ning.com,Female,202.94.67.27,3530389861801215,Nigeria,5/20/1958,118310.72,Electrical Engineer,"Hello, I'm Dorothy Coleman, age 57. I live at ..."
9,customer1,31,{redacted},{redacted},aberryu@ow.ly,Male,5.82.180.4,,Thailand,,135007.96,,"Hi, I'm Sandra Reed, 28 years old, staying at ..."
10,customer1,36,{redacted},{redacted},bcarrz@parallels.com,Female,159.201.161.49,,France,,91370.3,,"Hi, I'm Richard Adams, 49, living at 1234 Birc..."
11,customer1,39,{redacted},{redacted},jmurphy12@paypal.com,Male,118.85.253.180,4994715164232848,Chile,8/8/1991,134708.82,Nuclear Power Engineer,"Hello, I am Nancy Turner, aged 43, and I am lo..."
12,customer1,47,{redacted},{redacted},dmccoy1a@skype.com,Male,115.85.247.190,3554507990607374,Central African Republic,,66260.14,,"Hi, I'm Paul Rivera, 45 years old, and I resid..."
13,customer1,48,{redacted},{redacted},jflores1b@samsung.com,Female,211.70.131.207,5392903051983005,Nepal,4/6/1990,199100.32,Financial Advisor,"Hey there, I am Brian Powell, 35, living at 67..."
14,customer1,49,{redacted},{redacted},lsnyder1c@woothemes.com,Female,145.202.177.215,30475362189761,Germany,12/12/1974,210631.91,Safety Technician II,"Hello, I am Angela Hall, 52 years old, staying..."
15,customer1,52,{redacted},{redacted},ldean1f@tamu.edu,Female,109.43.178.48,201996646854139,Ethiopia,,173300.37,,Customer feedback: I recently visited your sto...
16,customer1,54,{redacted},{redacted},gferguson1h@51.la,Male,129.108.219.50,3539784298399554,Macedonia,6/26/1971,153238.6,Computer Systems Analyst IV,"Hi, I am Emily Brown, aged 33, and I recently ..."
17,customer1,60,{redacted},{redacted},crichards1n@dailymail.co.uk,Female,178.236.66.213,3557986543874466,Brazil,,179378.0,,Support Request: My name is Joseph Johnson. I ...
18,customer1,62,{redacted},{redacted},jsullivan1p@wisc.edu,Female,32.183.154.67,6767624411254094,Bolivia,11/28/1963,118311.39,Electrical Engineer,"Hi, I am Steven Lewis, aged 41, and I recently..."
19,customer1,64,{redacted},{redacted},dross1r@parallels.com,Male,78.25.77.223,,Portugal,5/27/1959,280933.71,Biostatistician II,"Hello, my name is Jacob Hall, 50 years old, li..."
20,customer1,65,{redacted},{redacted},rjacobs1s@sohu.com,Male,188.52.98.175,5048378563875353,Indonesia,,13673.35,,"Support Ticket: I'm Anna Clark, 37, from 2345 ..."
21,customer1,69,{redacted},{redacted},holson1w@chronoengine.com,Male,169.173.35.139,,China,7/25/1994,146917.43,Occupational Therapist,"Hi there, I'm Nancy Gonzalez, 28 years old. Yo..."
22,customer1,71,{redacted},{redacted},swatkins1y@rakuten.co.jp,,124.183.29.113,30552863095190,Burkina Faso,8/29/1971,nan,Physical Therapy Assistant,"Hi, I'm Laura Walker, aged 33. I'm looking for..."
23,customer1,72,{redacted},{redacted},jortiz1z@mozilla.org,Male,4.70.220.127,5194470971764378,Sweden,2/13/1978,91566.02,Analyst Programmer,"Hey everyone, I'm Daniel Scott, 41 years old, ..."
24,customer1,74,{redacted},{redacted},khenderson21@ask.com,Female,218.212.63.68,4936394111685353310,Ukraine,4/11/1985,59413.85,Pharmacist,"Hi, I'm Emma Hall, 25 years old. I recently mo..."
25,customer1,76,{redacted},{redacted},cnelson23@tiny.cc,Female,64.13.61.211,4844223687165886,Estonia,3/9/1985,179193.6,Social Worker,"Hi there, I am Patricia Howard, 47, staying at..."
26,customer1,82,{redacted},{redacted},cfranklin29@marketwatch.com,Female,32.189.30.244,67097647572873744,China,6/5/1978,31572.53,Automation Specialist II,"Hello, I'm Susan Hughes, 60 years old. I'm at ..."
27,customer1,83,{redacted},{redacted},cwashington2a@phpbb.com,Male,90.239.40.124,67063904960748578,United States,11/4/1970,28853.61,Developer I,"Hey there, I'm Matthew Bell, 37 years old, sta..."
28,customer1,108,{redacted},{redacted},lmorris2z@google.com.au,Male,222.42.110.223,,Lebanon,12/18/1964,275527.02,Human Resources Manager,"Customer Feedback: I'm Linda White, 32 years o..."
29,customer1,112,{redacted},{redacted},nburns33@shutterfly.com,Female,227.228.31.252,3557169104731462,Portugal,10/13/1996,172847.04,Senior Editor,"Hi, I am Steven Lewis, aged 41, and I recently..."
30,customer1,113,{redacted},{redacted},mcruz34@theatlantic.com,Female,252.44.138.16,,France,,266115.82,,"Greetings, I am Kim Young, aged 35. I am repor..."
31,customer1,114,{redacted},{redacted},rdixon35@auda.org.au,Male,100.139.186.129,3535443445341084,China,7/23/1971,193643.49,Health Coach IV,"Hello, my name is Jacob Hall, 50 years old, li..."
32,customer1,120,{redacted},{redacted},kfuller3b@webeden.co.uk,,104.13.230.181,6709741313285577939,China,2/27/1990,nan,Biostatistician I,"Hello, I'm Charles Turner, 62 years old, livin..."
33,customer1,130,{redacted},{redacted},dbowman3l@bravesites.com,,249.51.171.8,,Indonesia,3/3/1990,nan,Environmental Tech,"Hello, I'm Dorothy Coleman, age 57. I live at ..."
34,customer1,134,{redacted},{redacted},hmccoy3p@prlog.org,Male,54.83.150.163,3581230564679862,Kazakhstan,,178852.92,,"Hi, my name is Thomas Morgan, and I live at 56..."
35,customer1,137,{redacted},{redacted},pvasquez3s@canalblog.com,Male,195.121.180.8,5602221706127365,Ethiopia,7/28/1992,274927.74,Internal Auditor,"Hello, I am Christopher Woods, 31 years old, r..."
36,customer1,140,{redacted},{redacted},cturner3v@imgur.com,Male,133.149.196.51,3548703903516609,Malaysia,2/10/1984,178720.21,Systems Administrator III,"Greetings! I am Daniel Carter, 38, and I live ..."
37,customer1,143,{redacted},{redacted},sreid3y@cbsnews.com,Female,241.243.225.183,4844180975298326,China,,267939.14,,"Hello, I am Jessica Allen, age 33, staying at ..."
38,customer1,144,{redacted},{redacted},jjackson3z@usgs.gov,Male,216.152.137.29,201878566157125,China,8/24/1994,68009.56,Speech Pathologist,"Hi, I'm Andrew Perez, 41 years old, residing a..."
39,customer1,146,{redacted},{redacted},pthompson41@tiny.cc,Male,17.20.75.164,3531396137937078,China,,163038.6,,"Hello, I'm Elizabeth Anderson, age 29, and my ..."
40,customer1,148,{redacted},{redacted},rgriffin43@qq.com,Male,218.32.125.75,3562205626938046,Cyprus,11/3/2000,150483.67,Internal Auditor,"Hey there, I am Brian Powell, 35, living at 67..."
41,customer1,149,{redacted},{redacted},gedwards44@icq.com,Male,5.204.156.34,3548268624172124,Portugal,2/5/1977,236421.33,Librarian,"Hello, I am Angela Hall, 52 years old, staying..."
42,customer1,151,{redacted},{redacted},aclark46@omniture.com,Female,196.37.122.106,,Philippines,,271506.13,,"Hello friends, my name is Alice Johnson and I ..."
43,customer1,156,{redacted},{redacted},lreed4b@unicef.org,Female,15.184.160.166,5641827945252562726,France,6/10/1966,121634.14,Electrical Engineer,"Hello, I'm Mark Thompson. I’m 36 years old, re..."
44,customer1,158,{redacted},{redacted},hjones4d@4shared.com,Male,87.211.155.0,3550057092631322,Yemen,3/11/1957,91481.77,VP Quality Control,"Customer Feedback: I'm Linda White, 32 years o..."
45,customer1,161,{redacted},{redacted},mmurphy4g@ucoz.ru,Female,146.142.253.203,3532904705795411,Philippines,11/13/1958,121854.47,Chemical Engineer,"Hello, I'm Sarah Taylor, aged 31, living at 43..."
46,customer1,164,{redacted},{redacted},tmartin4j@google.fr,Female,18.167.112.31,3544667612875941,Cameroon,,111919.52,,"Hello, my name is Jacob Hall, 50 years old, li..."
47,customer1,165,{redacted},{redacted},hfoster4k@wisc.edu,Male,185.154.125.55,3529756786561038,China,,35462.52,,"Support Ticket: I'm Anna Clark, 37, from 2345 ..."
48,customer1,168,{redacted},{redacted},rellis4n@vkontakte.ru,Female,237.64.147.108,,France,11/28/1965,50521.84,Desktop Support Technician,"Hello, my name is James Brown, 54 years old, r..."
49,customer1,169,{redacted},{redacted},cmccoy4o@jimdo.com,,94.71.44.199,,Philippines,2/11/1991,nan,Engineer I,"Hi there, I'm Nancy Gonzalez, 28 years old. Yo..."
50,customer1,172,{redacted},{redacted},vwagner4r@prlog.org,Female,224.221.101.105,3545840865831940,China,6/12/1985,116359.29,Software Consultant,"Hey everyone, I'm Daniel Scott, 41 years old, ..."
51,customer1,176,{redacted},{redacted},aperez4v@cnbc.com,Female,235.132.21.103,,China,10/19/1971,16022.68,Associate Professor,"Hi there, I am Patricia Howard, 47, staying at..."
52,customer1,180,{redacted},{redacted},sfields4z@aol.com,Female,70.167.129.80,3538813142575647,Mongolia,1/15/1992,43447.9,Accountant III,"Hello, I'm Dorothy Coleman, age 57. I live at ..."
53,customer1,185,{redacted},{redacted},rgonzalez54@digg.com,Male,33.141.103.163,,France,3/3/1959,143901.18,Senior Cost Accountant,"Support Request: I'm Jessica Barnes, residing ..."
54,customer1,189,{redacted},{redacted},pbowman58@senate.gov,Male,188.210.170.125,3569097730197301,Norway,4/13/1958,269325.43,Clinical Specialist,"Hello, I am Nancy Turner, aged 43, and I am lo..."
55,customer1,191,{redacted},{redacted},jwebb5a@dyndns.org,Female,169.75.241.122,3530639501736548,China,3/29/1979,127088.79,Speech Pathologist,"Hi, I am Laura Cook, 29 years old, and I live ..."
56,customer1,194,{redacted},{redacted},rgrant5d@skype.com,Male,206.151.211.209,5285674648398904,China,3/2/1990,70398.55,Senior Cost Accountant,"Hi, I'm Andrew Perez, 41 years old, residing a..."

In [28]:
# But, as before, the fraud team continues to see all the data
amr.load_capsule("testdata.cap", read_context="fraud_team").data()

,tenant_id,id,first_name,last_name,email,gender,ip_address,cc,country,birthdate,salary,title,comments
0,customer1,1,Amanda,Jordan,ajordan0@com.com,Female,1.197.201.2,6759521864920116,Indonesia,3/8/1971,49756.53,Internal Auditor,"Hello friends, my name is Alice Johnson and I ..."
1,customer4,2,Albert,Freeman,afreeman1@is.gd,Male,218.111.175.34,,Canada,1/16/1968,150280.17,Accountant IV,Customer feedback: I recently visited your sto...
2,customer3,3,Evelyn,Morgan,emorgan2@altervista.org,Female,7.161.136.94,6767119071901597,Russia,2/1/1960,144972.51,Structural Engineer,"Booking Confirmation: Thank you, David Smith (..."
3,customer1,4,Denise,Riley,driley3@gmpg.org,Female,140.35.109.83,3576031598965625,China,4/8/1997,90263.05,Senior Cost Accountant,"Hi, I am Emily Brown, aged 33, and I recently ..."
4,customer2,5,Carlos,Burns,cburns4@miitbeian.gov.cn,,169.113.235.40,5602256255204850,South Africa,,nan,,"Urgent: My name is Sarah Lee, my SSN is 512-34..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,customer2,196,Lillian,Perry,lperry5f@bigcartel.com,Female,35.71.128.205,,Portugal,,195580.83,,"Hello, I'm Elizabeth Anderson, age 29, and my ..."
196,customer2,197,Wanda,Allen,wallen5g@globo.com,Female,70.97.102.253,,Japan,,66158.0,,"Hi, I'm Paul Rivera, 45 years old, and I resid..."
197,customer2,198,Pamela,Tucker,ptucker5h@dedecms.com,Female,179.49.192.205,,Iran,10/23/1998,76690.52,Accountant III,"Hey there, I am Brian Powell, 35, living at 67..."
198,customer4,199,Aaron,Torres,atorres5i@w3.org,Male,37.19.3.217,677135008088348640,Canada,4/18/1980,85100.7,Sales Associate,"Hello, I am Angela Hall, 52 years old, staying..."
199,customer3,200,Russell,Ward,rward5j@surveymonkey.com,Male,73.156.128.8,,Sweden,,173849.81,,"Hi, I'm Jennifer Wilson, 28, and I live at 123..."

In [29]:
# We can also easily create credentials for the AI team to use that are unable to use the fraud team's read_context
# First create the capability and the policy rule for it
amr.put_capability("ai-team", summary="Access given to the AI team", description="Access given to the AI team")
amr.create_policy_rule(am.CapabilityRules().
                        with_rule(name="ai-team",operator=am.CapabilityOperator.Exists),
                       facts=am.FactPolicies(),
                       path="control/read-context/ai_team",
                       operation=am.Operation.Use,
                       result=am.Result.Allow,
                       priority=9)
# Now create an API key for the AI team:
new_account = amr.insert_identity_provider_principal(provider_name="apikey",
                                       capabilities={"ai-team":None}, 
                                       principal_type=am.PrincipalType.ApiKey,
                                       principal_value=None)

/Volumes/Workspace/labs/launch-tutorials/ve/lib/python3.11/site-packages/pydantic/main.py:308: UserWarning: Pydantic serializer warnings:
  Expected `list[str]` but got `_LiteralGenericAlias` - serialized value may not be as expected
  return self.__pydantic_serializer__.to_python(

In [30]:
# Connect using this API key:
amr_ai = am.Session(domain=amr.domain_id, api_key=new_account["api_key"])

# Read data in the AI read context:
amr_ai.load_capsule("testdata.cap", read_context="ai_team").data()

,tenant_id,id,first_name,last_name,email,gender,ip_address,cc,country,birthdate,salary,title,comments
0,customer1,1,{redacted},{redacted},ajordan0@com.com,Female,1.197.201.2,6759521864920116,Indonesia,3/8/1971,49756.53,Internal Auditor,"Hello friends, my name is Alice Johnson and I ..."
1,customer1,4,{redacted},{redacted},driley3@gmpg.org,Female,140.35.109.83,3576031598965625,China,4/8/1997,90263.05,Senior Cost Accountant,"Hi, I am Emily Brown, aged 33, and I recently ..."
2,customer1,7,{redacted},{redacted},sholmes6@foxnews.com,Male,232.234.81.197,3582641366974690,Portugal,12/18/1987,14247.62,Senior Financial Analyst,"Hi, my name is Michael Martinez, I am 40 years..."
3,customer1,9,{redacted},{redacted},jfoster8@yelp.com,Male,132.31.53.61,,South Korea,3/27/1992,231067.84,Software Test Engineer I,"Hey, it’s Lisa Davis, I am 28 years old. I not..."
4,customer1,12,{redacted},{redacted},aberryb@wikipedia.org,Female,246.225.12.189,4917830851454417,China,8/12/1968,22944.53,Quality Engineer,"Hi, I am Steven Lewis, aged 41, and I recently..."
5,customer1,17,{redacted},{redacted},eandrewsg@cornell.edu,Female,29.231.180.172,30271790537626,Russia,4/13/1990,116800.65,Food Chemist,"My name is Mary Lee, SSN 321-54-6789. I forgot..."
6,customer1,21,{redacted},{redacted},dstevensk@cnet.com,Female,141.243.73.164,,Russia,6/5/1985,87978.22,Food Chemist,"Hi, I'm Laura Walker, aged 33. I'm looking for..."
7,customer1,28,{redacted},{redacted},shunterr@instagram.com,Male,72.190.230.173,5002353797389897,Brazil,9/21/1968,108950.24,Environmental Tech,"Greetings, I'm Amanda Evans, aged 51. I reside..."
8,customer1,30,{redacted},{redacted},atorrest@ning.com,Female,202.94.67.27,3530389861801215,Nigeria,5/20/1958,118310.72,Electrical Engineer,"Hello, I'm Dorothy Coleman, age 57. I live at ..."
9,customer1,31,{redacted},{redacted},aberryu@ow.ly,Male,5.82.180.4,,Thailand,,135007.96,,"Hi, I'm Sandra Reed, 28 years old, staying at ..."
10,customer1,36,{redacted},{redacted},bcarrz@parallels.com,Female,159.201.161.49,,France,,91370.3,,"Hi, I'm Richard Adams, 49, living at 1234 Birc..."
11,customer1,39,{redacted},{redacted},jmurphy12@paypal.com,Male,118.85.253.180,4994715164232848,Chile,8/8/1991,134708.82,Nuclear Power Engineer,"Hello, I am Nancy Turner, aged 43, and I am lo..."
12,customer1,47,{redacted},{redacted},dmccoy1a@skype.com,Male,115.85.247.190,3554507990607374,Central African Republic,,66260.14,,"Hi, I'm Paul Rivera, 45 years old, and I resid..."
13,customer1,48,{redacted},{redacted},jflores1b@samsung.com,Female,211.70.131.207,5392903051983005,Nepal,4/6/1990,199100.32,Financial Advisor,"Hey there, I am Brian Powell, 35, living at 67..."
14,customer1,49,{redacted},{redacted},lsnyder1c@woothemes.com,Female,145.202.177.215,30475362189761,Germany,12/12/1974,210631.91,Safety Technician II,"Hello, I am Angela Hall, 52 years old, staying..."
15,customer1,52,{redacted},{redacted},ldean1f@tamu.edu,Female,109.43.178.48,201996646854139,Ethiopia,,173300.37,,Customer feedback: I recently visited your sto...
16,customer1,54,{redacted},{redacted},gferguson1h@51.la,Male,129.108.219.50,3539784298399554,Macedonia,6/26/1971,153238.6,Computer Systems Analyst IV,"Hi, I am Emily Brown, aged 33, and I recently ..."
17,customer1,60,{redacted},{redacted},crichards1n@dailymail.co.uk,Female,178.236.66.213,3557986543874466,Brazil,,179378.0,,Support Request: My name is Joseph Johnson. I ...
18,customer1,62,{redacted},{redacted},jsullivan1p@wisc.edu,Female,32.183.154.67,6767624411254094,Bolivia,11/28/1963,118311.39,Electrical Engineer,"Hi, I am Steven Lewis, aged 41, and I recently..."
19,customer1,64,{redacted},{redacted},dross1r@parallels.com,Male,78.25.77.223,,Portugal,5/27/1959,280933.71,Biostatistician II,"Hello, my name is Jacob Hall, 50 years old, li..."
20,customer1,65,{redacted},{redacted},rjacobs1s@sohu.com,Male,188.52.98.175,5048378563875353,Indonesia,,13673.35,,"Support Ticket: I'm Anna Clark, 37, from 2345 ..."
21,customer1,69,{redacted},{redacted},holson1w@chronoengine.com,Male,169.173.35.139,,China,7/25/1994,146917.43,Occupational Therapist,"Hi there, I'm Nancy Gonzalez, 28 years old. Yo..."
22,customer1,71,{redacted},{redacted},swatkins1y@rakuten.co.jp,,124.183.29.113,30552863095190,Burkina Faso,8/29/1971,nan,Physical Therapy Assistant,"Hi, I'm Laura Walker, aged 33. I'm looking for..."
23,customer1,72,{redacted},{redacted},jortiz1z@mozilla.org,Male,4.70.220.127,5194470971764378,Sweden,2/13/1978,91566.02,Analyst Programmer,"Hey everyone, I'm Daniel Scott, 41 years old, ..."
24,customer1,74,{redacted},{redacted},khenderson21@ask.com,Female,218.212.63.68,4936394111685353310,Ukraine,4/11/1985,59413.85,Pharmacist,"Hi, I'm Emma Hall, 25 years old. I recently mo..."
25,customer1,76,{redacted},{redacted},cnelson23@tiny.cc,Female,64.13.61.211,4844223687165886,Estonia,3/9/1985,179193.6,Social Worker,"Hi there, I am Patricia Howard, 47, staying at..."
26,customer1,82,{redacted},{redacted},cfranklin29@marketwatch.com,Female,32.189.30.244,67097647572873744,China,6/5/1978,31572.53,Automation Specialist II,"Hello, I'm Susan Hughes, 60 years old. I'm at ..."
27,customer1,83,{redacted},{redacted},cwashington2a@phpbb.com,Male,90.239.40.124,67063904960748578,United States,11/4/1970,28853.61,Developer I,"Hey there, I'm Matthew Bell, 37 years old, sta..."
28,customer1,108,{redacted},{redacted},lmorris2z@google.com.au,Male,222.42.110.223,,Lebanon,12/18/1964,275527.02,Human Resources Manager,"Customer Feedback: I'm Linda White, 32 years o..."
29,customer1,112,{redacted},{redacted},nburns33@shutterfly.com,Female,227.228.31.252,3557169104731462,Portugal,10/13/1996,172847.04,Senior Editor,"Hi, I am Steven Lewis, aged 41, and I recently..."
30,customer1,113,{redacted},{redacted},mcruz34@theatlantic.com,Female,252.44.138.16,,France,,266115.82,,"Greetings, I am Kim Young, aged 35. I am repor..."
31,customer1,114,{redacted},{redacted},rdixon35@auda.org.au,Male,100.139.186.129,3535443445341084,China,7/23/1971,193643.49,Health Coach IV,"Hello, my name is Jacob Hall, 50 years old, li..."
32,customer1,120,{redacted},{redacted},kfuller3b@webeden.co.uk,,104.13.230.181,6709741313285577939,China,2/27/1990,nan,Biostatistician I,"Hello, I'm Charles Turner, 62 years old, livin..."
33,customer1,130,{redacted},{redacted},dbowman3l@bravesites.com,,249.51.171.8,,Indonesia,3/3/1990,nan,Environmental Tech,"Hello, I'm Dorothy Coleman, age 57. I live at ..."
34,customer1,134,{redacted},{redacted},hmccoy3p@prlog.org,Male,54.83.150.163,3581230564679862,Kazakhstan,,178852.92,,"Hi, my name is Thomas Morgan, and I live at 56..."
35,customer1,137,{redacted},{redacted},pvasquez3s@canalblog.com,Male,195.121.180.8,5602221706127365,Ethiopia,7/28/1992,274927.74,Internal Auditor,"Hello, I am Christopher Woods, 31 years old, r..."
36,customer1,140,{redacted},{redacted},cturner3v@imgur.com,Male,133.149.196.51,3548703903516609,Malaysia,2/10/1984,178720.21,Systems Administrator III,"Greetings! I am Daniel Carter, 38, and I live ..."
37,customer1,143,{redacted},{redacted},sreid3y@cbsnews.com,Female,241.243.225.183,4844180975298326,China,,267939.14,,"Hello, I am Jessica Allen, age 33, staying at ..."
38,customer1,144,{redacted},{redacted},jjackson3z@usgs.gov,Male,216.152.137.29,201878566157125,China,8/24/1994,68009.56,Speech Pathologist,"Hi, I'm Andrew Perez, 41 years old, residing a..."
39,customer1,146,{redacted},{redacted},pthompson41@tiny.cc,Male,17.20.75.164,3531396137937078,China,,163038.6,,"Hello, I'm Elizabeth Anderson, age 29, and my ..."
40,customer1,148,{redacted},{redacted},rgriffin43@qq.com,Male,218.32.125.75,3562205626938046,Cyprus,11/3/2000,150483.67,Internal Auditor,"Hey there, I am Brian Powell, 35, living at 67..."
41,customer1,149,{redacted},{redacted},gedwards44@icq.com,Male,5.204.156.34,3548268624172124,Portugal,2/5/1977,236421.33,Librarian,"Hello, I am Angela Hall, 52 years old, staying..."
42,customer1,151,{redacted},{redacted},aclark46@omniture.com,Female,196.37.122.106,,Philippines,,271506.13,,"Hello friends, my name is Alice Johnson and I ..."
43,customer1,156,{redacted},{redacted},lreed4b@unicef.org,Female,15.184.160.166,5641827945252562726,France,6/10/1966,121634.14,Electrical Engineer,"Hello, I'm Mark Thompson. I’m 36 years old, re..."
44,customer1,158,{redacted},{redacted},hjones4d@4shared.com,Male,87.211.155.0,3550057092631322,Yemen,3/11/1957,91481.77,VP Quality Control,"Customer Feedback: I'm Linda White, 32 years o..."
45,customer1,161,{redacted},{redacted},mmurphy4g@ucoz.ru,Female,146.142.253.203,3532904705795411,Philippines,11/13/1958,121854.47,Chemical Engineer,"Hello, I'm Sarah Taylor, aged 31, living at 43..."
46,customer1,164,{redacted},{redacted},tmartin4j@google.fr,Female,18.167.112.31,3544667612875941,Cameroon,,111919.52,,"Hello, my name is Jacob Hall, 50 years old, li..."
47,customer1,165,{redacted},{redacted},hfoster4k@wisc.edu,Male,185.154.125.55,3529756786561038,China,,35462.52,,"Support Ticket: I'm Anna Clark, 37, from 2345 ..."
48,customer1,168,{redacted},{redacted},rellis4n@vkontakte.ru,Female,237.64.147.108,,France,11/28/1965,50521.84,Desktop Support Technician,"Hello, my name is James Brown, 54 years old, r..."
49,customer1,169,{redacted},{redacted},cmccoy4o@jimdo.com,,94.71.44.199,,Philippines,2/11/1991,nan,Engineer I,"Hi there, I'm Nancy Gonzalez, 28 years old. Yo..."
50,customer1,172,{redacted},{redacted},vwagner4r@prlog.org,Female,224.221.101.105,3545840865831940,China,6/12/1985,116359.29,Software Consultant,"Hey everyone, I'm Daniel Scott, 41 years old, ..."
51,customer1,176,{redacted},{redacted},aperez4v@cnbc.com,Female,235.132.21.103,,China,10/19/1971,16022.68,Associate Professor,"Hi there, I am Patricia Howard, 47, staying at..."
52,customer1,180,{redacted},{redacted},sfields4z@aol.com,Female,70.167.129.80,3538813142575647,Mongolia,1/15/1992,43447.9,Accountant III,"Hello, I'm Dorothy Coleman, age 57. I live at ..."
53,customer1,185,{redacted},{redacted},rgonzalez54@digg.com,Male,33.141.103.163,,France,3/3/1959,143901.18,Senior Cost Accountant,"Support Request: I'm Jessica Barnes, residing ..."
54,customer1,189,{redacted},{redacted},pbowman58@senate.gov,Male,188.210.170.125,3569097730197301,Norway,4/13/1958,269325.43,Clinical Specialist,"Hello, I am Nancy Turner, aged 43, and I am lo..."
55,customer1,191,{redacted},{redacted},jwebb5a@dyndns.org,Female,169.75.241.122,3530639501736548,China,3/29/1979,127088.79,Speech Pathologist,"Hi, I am Laura Cook, 29 years old, and I live ..."
56,customer1,194,{redacted},{redacted},rgrant5d@skype.com,Male,206.151.211.209,5285674648398904,China,3/2/1990,70398.55,Senior Cost Accountant,"Hi, I'm Andrew Perez, 41 years old, residing a..."

In [31]:
# Try use the fraud team read_context
amr_ai.load_capsule("testdata.cap", read_context="fraud_team").data()

RuntimeError: CapsuleError("No capsules were unsealed (access denied?)")